

body
{
    background: rgb(109, 109, 109);
}

.page-container
{
    margin: auto;
}

/* ------classes under banner-container------ */

.banner-container
{
    width: 1200px;
    background: rgb(145, 145, 145);
    border-radius: 10px;   
    margin: auto;
    margin-left: 600px;
    position: relative;
    box-shadow:  5px 5px 5px black;
}

.logo42
{   
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 15px;
    width: 30%;
}

.close
{
    position: absolute;
    width: 1.5%;
    right: 6px;
    bottom: 5px;;
}

.refresh
{
    position: absolute;
    width: 1.5%;
    right: 6px;
    top: 5px;
}

.magnifyingGlass
{
    position: absolute;
    width: 25%;
    max-width: 100%;
    max-height: 100%;
    right: 15px;
    bottom: -10%;
}

/* ------ right-container------ */
.right-container
{
    float: left;
    background: rgb(145, 145, 145);
    width: 130px;
    height: 340px;
    border-radius: 10px;
    position: absolute;
    margin-left: 1625px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px black;
    text-align: center;

}

.book, .towel
{
    width: 50%;
}

.book
{
    margin-top: 10px;
}

.brick
{
    background-image: url("resources/brick.jpg");
    height: 70px;
    width: 120px;
    margin: auto;
}

/* ------class under middle-container------ */

.middle-container
{
    float: left;
    background: rgb(145, 145, 145);
    width: 800px;
    height: 460px;
    border-radius: 10px;
    margin-left: 800px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px black;
}

.class-img
{
    margin: 10px;
    width: 780px;
}

/* ------left-container------ */

.left-container
{
   float: left;
   background: rgb(145, 145, 145);
   width: 130px;
   height: 340px;
   border-radius: 10px;
   position: absolute;
   margin-left: 650px;
   margin-top: 10px;
   box-shadow: 5px 5px 5px black;
   text-align: center;

}

.advance, .take, .look, .use, .speak
{
    width: 45%;
}

.advance
{
    margin-top: 10px;
}

.look
{
    border: 3px solid red;
    border-radius: 5px; 
}
.speak
{
    margin-bottom: 10px;
}

/* ------green-container------  */

.green-container
{
    width: 400px;
    height: 150px;
    background: rgb(41, 250, 121);
    margin-left: 600px;
    margin-top: 400px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding-top: 0px;
    padding-left: 5px;
}

p
{
    font-family: Arial;
}

.green-box-shadow
{
    text-shadow: 5px 5px 5px red;
}

.entrez
{
    font-size: 25px;
}

.form
{
    width: 300px;
}

.submit
{
    background: rgb(228, 228, 228);
}

/* ------chair-container and monitor-container------*/

.chair-container
{
    /*background: orange;*/
    height: 170px;
    width: 89px ;
    margin-left: 1070px;
    margin-top: 270px;
    position: absolute; 
}

.monitor-container
{
    /*background: greenyellow;*/
    height: 130px;
    width: 150px;
    margin-left: 1420px;
    margin-top: 265px;
    position: absolute;
    border-radius: 10px;
    transform: skewX(-5deg);
}