

body
{
    background: rgb(109, 109, 109);
}

.page-container
{
    /*width: 1460px;*/
    margin: auto;
}

/* ------classes under banner-container------ */

.banner-container
{
    width: 1200px;
    background: rgb(145, 145, 145);
    border-radius: 10px;   
    margin: auto;
    margin-left: 600px;
    position: relative;
    box-shadow:  5px 5px 5px black;
}

.logo42
{   
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 15px;
    width: 30%;
}

.close
{
    position: absolute;
    width: 1.5%;
    right: 6px;
    bottom: 5px;;
}

.refresh
{
    position: absolute;
    width: 1.5%;
    right: 6px;
    top: 5px;
}

.magnifyingGlass
{
    position: absolute;
    width: 25%;
    max-width: 100%;
    max-height: 100%;
    right: 15px;
    bottom: -10%;
}

/* ------classes under right-container------*/

/*
.right-container
{
    width: 150px;
    height: 450px;
    background: rgb(145, 145, 145);
    border-radius: 10px;   
    margin: auto;
    margin-top: 10px;
    margin-left: 1620px;
    box-shadow:  5px 5px 5px black;
    text-align: center;
    float: right;
}
 */

.book
{
    margin-top: 10px;
}

.book, .towel
{
    width: 100px;
}

.brick
{
    background-image: url("resources/brick.jpg");
    height: 70px;
    width: 120px;
    margin: auto;
}

/* ------class under middle-container------ */
/*
.middle-container
{
    width: 600px;
    height: 400px;
    background-color: rgb(145, 145, 145);
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-left: 200px;
    box-shadow: 5px 5px 5px black;
}
*/


.middle-container
{
    float: left;
    background: rgb(145, 145, 145);
    width: 800px;
    height: 600px;
    border-radius: 10px;
    margin-left: 800px;
    margin-top: 30px;
    box-shadow: 5px 5px 5px black;
}

.class-img
{
    width: 780px;
}

.left-container
{
   float: left;
   background: black;
   width: 125px;
   height: 450px;
   border-radius: 10px;
   position: fixed;
   margin-left: 650px;
   margin-top: 10px;
   box-shadow: 5px 5px 5px black;

}

.right-container
{
    float: left;
    background: green;
    width: 125px;
    height: 450px;
    border-radius: 10px;
    position: fixed;
    margin-left: 1625px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px black;

}


/* ------classes under left-container------ */



/*
.left-container
{
    float: left;
    width: 50px;
    height: 20%; 
    background: rgb(145, 145, 145);
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}


.advance, .take, .look, .use, .speak
{
    width: 60%;
}

.advance
{
    margin-top: 10px;
}

.look
{
    border: 3px solid red;
    border-radius: 5px; 
}
.speak
{
    margin-bottom: 10px;
}
*/

/* ------class under right-container------ */

/*
.right-container
{
    float: right;
    width: 50px;
    background: rgb(145, 145, 145);
    border-radius: 10px;
    margin-left: 70%;
    margin-top: 0px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}
*/
/*
.right-container {
    padding-top: 0.8%;
    margin-right: 2%;
    margin-left: 2%;
    float: right;
    text-align: center;
    padding-bottom: 15%;
    width: 10%;
  }
*/

/*
.book, .towel
{
    width: 60%;
}

.book
{
    margin-top: 10px;
}

.brick1
{
    visibility: hidden;
}

.brick2
{
    visibility: hidden;
    margin-top: 0px;
    padding-top: 0px;
}
*/

/*
.brick-container1
{
    background-image: url("resources/brick.jpg");
    background-size: 30%;
    width: 80%;
    height: 40%;
    max-width: 80px;
    max-height: 20px;
    margin: auto;
    padding: 3%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-repeat: repeat-x;
}
*/
/*
.brick-container2
{
    background-image: url("resources/brick.jpg");
    background-repeat: repeat;
    background-size: 30%;
    width: 80%;
    height: 40%;
    margin: auto;
    padding: 3%; 
    padding-top: 0;
    margin-top: 0px;
    background-repeat: repeat-x;
}
*/
/*
.brick img
{
    width: 50%;
}
*/
/*
.brick-container
{
    background-image: url("./resources/brick.jpg");
    background-size: 27%;
    background-repeat: repeat;
    width: 85%;
    height: 60%;
    padding: 3%;
    margin: auto;
}
*/
/*
img.wall
{
    display: flex;;
    background-image: url("resources/brick.jpg");
}
*/
/*
.wall
{
    background-image: url("resources/brick.jpg");
    background-size: 30%;
    height: 30px;
    width: 60px;
}
*/
/*
.wall
{
    background-image: url('resources/brick.jpg');
    margin: 5px 0 0 -20px;
    height: 70px;
    width: 120px;
  }
*/
/*
.brick-container
{
    background-image: url("resources/brick.jpg");
    width: 30%;
    justify-content: center;
    margin-left: 10px;
}
*/
/*
.brick
{
    visibility: hidden;
    margin-bottom: 135%;
*/
    /*margin-right: 50%;*/
/*
    background-image: url('./resources/brick.jpg');
    background-size: 60%;
    width: 70%;
    height: 50%;
    margin-bottom: 135%;

}
*/
/*
.brick
{
    margin-bottom: 135%;
    background-repeat: repeat;
    width: 20%;
    height: 30%;
}
*/
/* ------class under middle-container------ */

/*
.middle-container
{
    float: left;
    width: 50%;
    background: rgb(145, 145, 145);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.classroom
{
    width: 95%; 
}
*/